<div id="sidebar">
	<ul id="sidebar-nav">
		<li>Welcome <%= currentUser.firstName %></li>
		<li><a href="/customer/dashboard">Dashboard</a></li>
		<li><a href="/customer/foodslist">Foods List</a></li>
		<li><a href="/customer/AddToCart">Add To Cart</a></li>
		<li><a href="/customer/MyOrders">My Orders</a></li>
		<li><a href="/customer/donations/previous">My Previous Orders</a></li>
		<li><a href="/customer/profile">My Profile</a></li>
		<li><a href="/auth/logout" class="btn">Logout</a></li>
	</ul>
</div>